@font-face {
  font-family: 'ScalaSans';
  src: url("/ScalaSansWebPro.eot");
  /* IE9 Compat Modes */
  src: url("/FScalaSansWebPro.eot?#iefix") format("embedded-opentype"), url("/ScalaSansWebPro.woff") format("woff"); }
@font-face {
  font-family: 'ScalaSansSc';
  src: url("/ScalaSansScWebPro.eot");
  /* IE9 Compat Modes */
  src: url("/FScalaSansScWebPro.eot?#iefix") format("embedded-opentype"), url("/ScalaSansScWebPro.woff") format("woff"); }
html, body {
  height: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

::-moz-selection {
  background: black;
  color: white;
  text-shadow: none; }

::selection {
  background: black;
  color: white;
  text-shadow: none; }

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid transparent;
  transition: all .2s ease; }
  a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.99); }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-transform: lowercase;
  font-family: 'ScalaSansSc', sans-serif; }

p, li {
  margin: 0;
  font-size: 1rem; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: 'ScalaSans', sans-serif;
  background: #fbfbfb; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em; }
  .wrapper .masthead {
    width: 100%; }
    .wrapper .masthead .banner {
      max-width: 100%;
      display: flex;
      align-items: center;
      margin: auto; }
      .wrapper .masthead .banner h1 {
        max-width: 50em;
        margin: auto;
        line-height: 1; }
        .wrapper .masthead .banner h1:before {
          content: "";
          display: block;
          margin: 0 auto 4em auto;
          width: 40px;
          height: 8px;
          background: black; }
  .wrapper .content {
    max-width: 30em;
    height: 100%;
    margin: 4em auto; }
    .wrapper .content section {
      width: 100%;
      padding: 40px 0;
      display: flex;
      flex-direction: column; }
      .wrapper .content section h2 {
        width: 100%;
        margin: 0 0 1.5em 0;
        text-align: center;
        color: black; }
        .wrapper .content section h2:after {
          content: "";
          display: block;
          margin: 1em auto 0;
          width: 40px;
          height: 1px;
          background: black; }
      .wrapper .content section article {
        width: 100%; }
        .wrapper .content section article p {
          margin: 0 0 1em 0;
          line-height: 1.6;
          color: rgba(0, 0, 0, 0.8); }
