

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

h1, p {
  margin: 0 0 1.5em 0;
  font-family: 'Helvetica';
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}
p:last-child {
  margin: 0;
}

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  transition: all 200ms ease;
  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.80);
  }
}

.wrapper {
  height: 100%;
  .container {
    display: flex;
    height: 100%;
    .content {
      width: 40em;
      margin: auto;
    }
  }
}
