* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  height: 100%; }

h1, h2, h3 {
  margin: 0;
  font-family: "franklin-gothic-urw-1","franklin-gothic-urw-2";
  font-size: 1rem;
  font-weight: 500; }

p {
  margin: 0;
  font-family: "franklin-gothic-urw-1","franklin-gothic-urw-2";
  font-size: 1rem; }

blockquote {
  margin: 0; }
  blockquote p {
    font-family: "bodoni-urw-1","bodoni-urw-2";
    font-size: 1rem; }

a {
  color: #191919;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid rgba(25, 25, 25, 0);
  transition: all .2s ease; }
  a:hover {
    border-bottom: 2px solid #191919; }

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%; }

header {
  width: 100%;
  padding: 6em; }

.content {
  height: 100%;
  padding: 6em; }

footer {
  margin: 0 6em 6em 6em; }
  footer nav a {
    margin: 0 1em 0 0;
    font-family: "franklin-gothic-urw-1","franklin-gothic-urw-2";
    font-size: 18px;
    color: #191919;
    text-decoration: none; }

.introduction {
  display: flex;
  flex-direction: column;
  width: 45%;
  background: rgba(25, 25, 25, 0.9); }
  .introduction h1 {
    color: white;
    font-size: 18px; }
  .introduction blockquote p {
    font-size: 36px;
    line-height: 45px;
    font-weight: 300;
    color: white; }
  .introduction blockquote p.source {
    margin: 1em 0 0 0;
    font-family: "franklin-gothic-urw-1","franklin-gothic-urw-2";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5); }

.profile {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 55%;
  background: #dcdcd5; }
  .profile header {
    background: white; }
    .profile header h2 {
      color: #191919;
      font-size: 18px; }
  .profile p {
    margin: 0 0 1em 0;
    font-size: 18px;
    line-height: 27px; }
    .profile p:last-child {
      margin: 0; }

@media (max-width: 420px) {
  .wrapper {
    display: flex;
    flex-direction: column; }
  header {
    padding: 20px; }
  .content {
    padding: 20px; }
  footer {
    margin: 20px;
    padding: 20px 0 0 0;
    border-top: 1px solid rgba(25, 25, 25, 0.25); }
  .introduction,
  .profile {
    width: 100%; }
  .introduction blockquote p {
    margin: 0;
    font-size: 27px;
    line-height: 1.5; } }

@media (max-width: 800px) {
  header {
    padding: 2em; }
  .content {
    padding: 2em; }
  footer {
    margin: 2em; } }
