---
permalink: about.html
title: About
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body class="about">

<div class="wrapper">

{% include masthead.html %}

<div class="content">

	<div class="headshot">
	</div>

	<section>
		<article>
			<h2>Overview</h2>
			<div>
				<p>I’m a designer — exploring my discipline through technology, typography, and semiotic theory (that last part’s a stretch). I currently serve as a user experience designer at Automattic, the makers of WordPress. Previously, I was the design lead at Readmill, which was acquired by Dropbox.</p>

				<p>I earned an MFA in Graphic Design from Maryland Institute College of Art, where my graduate thesis explored the role semiotics plays in our evolving visual culture.</p>

				<p>To supplement my practice, I speak, write, and teach and I’ve been fortunate enough to do all three in a professional capacity.</p>
			</div>
		</article>
		<article>
			<h2>Ethos</h2>
			<div>
				<p>I believe in the power of design to affect positive change in the world. Pursuing that change, no matter how big or small, is a worthy goal. I believe that creative work should be inpsiring and rewarding — to both the creator and the consumer.</p>
			</div>
		</article>
		<article>
			<h2>Contact</h2>
			<div>
				<p>Phone — <a href="tel:+14232271282">+1 423 227 1282</a><br />
				Email — <a href="mailto:justinkropp@gmail.com">justinkropp@gmail.com</a></p>
			</div>
		</article>
		<article>
			<h2>Newsletter</h2>
			<div>
				<p>I intermittently send an occasional newsletter. I like the format, and it affords me the opportunity to discuss things that don’t really fit the venue here. It’s a bit of a rant/vent machine, a look into my personal life, and a great place for my creative use of expletives. In other words, it’s a fun time. You can <a href="http://tinyletter.com/justinkropp" target="_blank">sign up here</a>.</p>
			</div>
		</article>
	</section>

</div>

{% include foot.html %}

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33401179-6', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>