---
layout: default
title: Home
---

<div class="posts">

  <ol>
    {% for post in site.posts %}
      <li>
          <a href="{{ post.url }}">
              <!-- <time>{{ post.date | date: "%Y %b" }}</time> -->
              <h2 class="post-title">{{ post.title }}</h2>
              <p>{{ post.excerpt }}</p>
              <!-- <i class="material-icons">chevron_right</i> -->
          </a>
      </li>
    {% endfor %}
  </ol>

</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
