---
permalink: library.html
title: Library
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body class="library">

<div class="wrapper">

{% include masthead.html %}

<div class="content">

<ul class="books">
	<li class="book">
		<a href="http://amzn.to/1YnYyWr" target="_blank">
		<img src="/assets/aboutgraphicdesign.jpg" alt="About Graphic Design">
			<div>
				<h2>About Graphic Design</h2>
				<p>Richard Hollis</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1OlA9NG" target="_blank">
		<img src="/assets/wabisabi.jpg" alt="Wabi-Sabi">
			<div>
				<h2>Wabi-Sabi</h2>
				<p>Leonard Koren</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1gADkCB" target="_blank">
		<img src="/assets/mythologies.jpg" alt="Mythologies">
			<div>
				<h2>Mythologies</h2>
				<p>Roland Barthes</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1PZFgQY" target="_blank">
		<img src="/assets/patternlanguage.jpg" alt="A Pattern Language">
			<div>
				<h2>A Pattern Language</h2>
				<p>Christopher Alexander</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1hUNq25" target="_blank">
			<img src="/assets/white.jpg" alt="White">
			<div>
				<h2>White</h2>
				<p>Kenya Hara</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1IWWmK6" target="_blank">
		<img src="/assets/designingdesign.jpg" alt="Designing Design">
			<div>
				<h2>Designing Design</h2>
				<p>Kenya Hara</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1PZF8kH" target="_blank">
			<img src="/assets/designasart.jpg" alt="Design as Art">
			<div>
				<h2>Design as Art</h2>
				<p>Bruno Munari</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1hUMn24" target="_blank">
		<img src="/assets/whatisadesigner.jpg" alt="What is a Designer">
			<div>
				<h2>What is a Designer</h2>
				<p>Norman Potter</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1IWWk4E" target="_blank">
			<img src="/assets/waysofseeing.jpg" alt="Ways of Seeing">
			<div>
				<h2>Ways of Seeing</h2>
				<p>John Berger</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1hUNwqh" target="_blank">
		<img src="/assets/vignellicanon.jpg" alt="Vignelli Canon">
			<div>
				<h2>The Vignelli Canon</h2>
				<p>Massimo Vignelli</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="http://amzn.to/1IWWpWa" target="_blank">
		<img src="/assets/stealingsheep.jpg" alt="Stop Stealing Sheep">
			<div>
				<h2>Stop Stealing Sheep</h2>
				<p>Erik Speikermann</p>
			</div>
		</a>
	</li>
	<li class="book">
		<a href="https://buyolympia.com/q/Item=frank-chimero-the-shape-of-design-paperback" target="_blank">
		<img src="/assets/shapeofdesign.jpg" alt="">
			<div>
				<h2>The Shape of Design</h2>
				<p>Frank Chimero</p>
			</div>
		</a>
	</li>
</ul>

</div>

{% include foot.html %}

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33401179-6', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
