<header class="masthead">
  <div class="content">
    <h1 class="title">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
    </h1>
    <nav>
      <a href="/about/" title="">About</a>
      <a href="/writing/" title="">Writing</a>
      <a href="/projects/" title="">Projects</a>
    </nav>
    <p>Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</header>
