// Layout
//
// Styles for managing the structural hierarchy of the site.

// General Shit

p {

	strong {
		font-family: 'FoundersGroteskBold';
		color: $dk-gray;
	}
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

p a {
	text-decoration: none;
	color: $black;
	border-bottom: 2px solid rgba($black, 0.1);
	-webkit-transition: all .1s ease;

	&:hover {
		background: rgba($black, 0.05);
		text-decoration: none;
	}
}


.home {
	height: 100%;
<<<<<<< HEAD
	border: 1.5em solid $white;
	@media (max-width: 320px) {
		// dat mobile shit goes here
  	}

	.container {
		display: -webkit-flex;
  		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		height: 100%;

		p {
			max-width: 36em;
			margin: auto;
			// font-family: 'FoundersGroteskBold';
			font-size: 1.25rem;
			line-height: 1.5;
			color: $dk-gray;
		}

		nav {
			padding: 2em 0;

			ul {
				list-style: none;
				margin: 0 auto;
				padding: 0;
				text-align: center;

				li {
					display: inline-block;
					margin: 0 .5rem;
					font-size: 1.1rem;
					text-align: center;

					a {
						color: $gray;
						text-decoration: none;
						-webkit-transition: all .1s ease;

						&:hover {
							color: $dk-gray;
						}
					}
				}
			}
		}
	}
}


// General Layout

.wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
	border-left: 1.5em solid $white;
	border-right: 1.5em solid $white;

	.masthead {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		padding: 40px 0;
		background: $white;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 1.1rem;
			font-weight: 400;
			line-height: 25px;

			a {
				display: block;
				float: left;
				width: 25px;
				height: 25px;
				text-indent: -999em;
				background: $dk-gray;
				border-radius: 50%;
				-webkit-transition: all .15s ease;

				&:hover {
					-webkit-transform: scale(1.1);
				}
			}
		}

		nav {

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					margin: 0 0 0 20px;
					font-size: 1.1rem;
					line-height: 25px;

					a {
						display: block;
						color: $gray;
						text-decoration: none;

						&:hover {
							color: $dk-gray;
						}
					}
				}
			}
		}
	}

	.content {
		width: 100%;

		.post {
			max-width: 40em;
			margin: 5em auto;

			header {
				margin: 0 0 2em 0;

				h2 {
					margin: 0 0 .5rem 0;
					font-family: 'FoundersGroteskBold';
					font-size: 1.5rem;
					color: $dk-gray;
				}

				time {
					color: $gray;
				}
			}

			.post-content {

				h2 {
					font-weight: 400;
				}

				h3 {
					font-weight: 400;
				}

				ul, ol {
					padding-left: 0;
				}

				p, li {
					font-size: 1.1rem;
					line-height: 1.5;
					color: $gray;
				}

				dl {
					line-height: 1.5;
				}

				a {
					color: $dk-gray;
					text-decoration: none;
				}

				blockquote {
					margin-left: -1em;
					padding-left: 1em;
					color: $gray;
					border-left: 3px solid $lt-gray;

					p {
						color: $gray;
					}
				}

				.footnotes {
					margin: 2em 0 0 0;
					padding: 1em 0 0 0;
					border-top: 1px solid rgba($black, 0.1);

					ol {
						margin: 0 0 0 1em;
						padding: 0;
						font-size: .9rem;
						color: $gray;

						li {
							margin: 0;
							font-size: .9rem;
							color: $gray;
						}

						p {
							margin: 0;
							font-size: .9rem;
							color: $gray;
						}
					}
				}
			}
		}

		.headshot {
			width: 100%;
			height: 500px;
			background: rgba($dk-gray, 1.0);
			background-image: url(/assets/mugshot.png);
			background-size: 600px;
			background-repeat: no-repeat;
			background-position: 50% bottom;
		}

		section {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			padding: 2em 0;

			article {
				width: 50em;
				margin: auto;
				padding: 2em 0;

				h2 {
					width: 20rem;
					float: left;
					margin: 0;
					font-family: 'FoundersGroteskBold';
					font-size: 1.1rem;
					line-height: 1.5;
					font-weight: 400;
					color: $dk-gray;
				}

				div {
					width: 30rem;
					float: left;

					p {
						margin: 0 0 1em 0;
						font-size: 1.1rem;
						color: $gray;
						line-height: 1.5;

						&:last-child {
							margin: 0;
						}
					}
				}
			}
		}

		.archives {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			max-width: 50em;
			list-style: none;
			margin: 0 auto;
			padding: 2em 0;

			li {
				padding: 2em 0;
				border-top: 1px solid rgba($black, 0.05);

				&:first-child {
					border: none;
				}

				div {
					width: 20rem;
					float: left;
				}

				h2 {
					margin: 0;
					font-family: 'FoundersGroteskBold';
					font-size: 1.1rem;
					color: $dk-gray;
					line-height: 1.5;

					a {
						color: $dk-gray;
					}
				}

				time {
					color: $gray;
				}

				p {
					width: 30rem;
					float: left;
					margin: 0;
					font-size: 1.1rem;
					line-height: 1.5;
					color: $gray;

					a {
						color: $dk-gray;
						text-decoration: none;
					}
				}
			}
		}

		.books {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			-webkit-align-items: flex-end;
			align-items: flex-end;
			max-width: 50em;
			list-style: none;
			margin: 0 auto;
			padding: 2em 0;

			li {
				min-width: 33.33333333333333%;
				margin: 2em 0;

				a {
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					-webkit-align-items: center;
					align-items: center;
					text-decoration: none;
					-webkit-transition: all .2s ease;

					img {
						width: 7em;
						height: auto;
						margin: 0 auto 1em auto;
						background: $lt-gray;
						border: none;
						border-radius: 0;
						-webkit-box-shadow: 0 1px 1px $lt-gray;
						-webkit-transition: all .2s ease;
					}

					div {

						h2 {
							margin: 0;
							font-size: 1.1rem;
							font-weight: 400;
							line-height: 1.5;
							color: $dk-gray;
							text-align: center;
						}

						p {
							margin: 0;
							font-size: 1.1rem;
							color: $gray;
							text-align: center;
						}
					}

					&:hover {
						p {
							color: $dk-gray;
						}
						img {
							-webkit-transform: translateY(-3px);
						}
					}
				}
			}
		}
	}

	.foot {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-align-items: center;
		align-items: center;
		justify-content: center;
		padding: 40px 0;
		background: #fff;

		ul {
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			list-style: none;
			margin: 0 auto;
			padding: 0;

			li {
				margin: 0 .5rem;


				a {
					display: block;
					width: 18px;
					height: auto;
					opacity: 0.35;
					-webkit-transition: all .1s ease;

					&:hover {
						opacity: 1.0;
					}
				}
			}
		}
=======
	background: rgba(0, 0, 0, 1.0);
	border: 10px solid rgba(255, 255, 255, 1.0);

	p {
		margin: auto;
		padding: 0;
		font-size: 1.25rem;
		line-height: 1;
		color: rgba(255, 255, 255, .90);
>>>>>>> a77580f56d1072b34152f4c87d4e17e67b0c1796
	}
}
